node_modules
npm-debug.log*
.git
.github
.gitignore
.env
data
backups
public/uploads/*
!public/uploads/.gitkeep
logs
*.log
test
docs
deploy
scratchpad
Dockerfile
.dockerignore
docker-compose.yml
README.md
